html,
body {
	min-height: 100%;
}
.animated {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.bounce-in-down {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes bounceOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes bounceOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
.bounce-out-up {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
.fade-out-up {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
.menu-backdrop-hidden {
	display: none;
	opacity: 0;
}
.menu-backdrop-show {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	display: block;
	z-index: 95;
	opacity: .5;
	background-color: #000;
}
.menu-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #595959;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	min-height: 6rem;
	background-color: #fff;
	border-top: 1px solid #f3f4ca;
	border-bottom: 1px solid #f3f4ca;
}
.menu-wrapper.hidden {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.menu {
	padding: .666rem .888rem;
}
.menu-wrapper.menu-active, .menu-wrapper.menu-active .menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.sort-wrapper-hidden {
	position: fixed;
	top: 5.638rem;
	left: 0;
	right: 0;
	max-width: 750px;
	min-width: 320px;
	min-height: 6.111rem;
	margin: 0 auto;
	overflow: hidden;
	display: none;
	z-index: -1;
}
.sort-wrapper-show {
	display: block;
	z-index: 97;
}

.bl-sort {
	position: relative;
	padding: 1rem 0 1rem .888rem;
	border-bottom: 1px solid #f1f2de;
	z-index: 96;
}
.bl-sort > div{
	display: table;
	width: 100%;
}
.bl-sort-left, .bl-sort-right{
	display: table-cell;
	vertical-align: top;
}
.bl-sort-left{
	width: 2.583rem;
}
.bl-sort-left > div{
	width: 2.583rem;
	border-right: 1px solid #f3f4ca;
	margin-top: .355rem;
}
.bl-sort ul{
	width: 100%;
}
.bl-sort ul li{
	padding: 0 .99rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}
.bl-sort-button {
	height: 1.8rem;
	line-height:1.8rem;
	color:#595959;
}
.bl-sort-active{
	color: #95ae62;
	font-weight: bold;
}

.lesson-list{
	padding: .833rem .888rem;
	border-bottom: 1px solid #f1f2de;
}
.lesson-list-info{
	display: table;
	width: 100%;
}
.lesson-list-left, .lesson-list-right{
	display: table-cell;
	vertical-align: middle;
}
.lesson-list-left{
	width: 5.777rem;
}
.lesson-list-left div, .lesson-list-left img{
	display: block;
	width: 4.888rem;
	height: auto;
	border: 1px solid #e3e3e3;
	-moz-border-radius: .3rem;
	-webkit-border-radius: .3rem;
	-o-border-radius: .3rem;
	border-radius: .3rem;
}
.lesson-list-left div{
	height: 5.777rem;
}
.lesson-list-right{
	position: relative;
}
.lesson-list-right > div{
	width: 13.222rem;
	line-height: 1.444rem;
}
.lesson-list-name{
	font-weight: bold;
}
.lesson-list-teacher{
	color: #7d7d7d;
}
.lesson-list-tag{
	display: inline-block;
	color: #95ae62;
	line-height: 1rem;
	padding: 0 .222rem;
	margin-right: .444rem;
	border: 1px solid #c9c9c9;
	-moz-border-radius: .166rem;
	-webkit-border-radius: .166rem;
	-o-border-radius: .166rem;
	border-radius: .166rem;
}
.lesson-list-pay{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #de8358;
}
