html,
body {
	min-height: 100%;
}
.animated {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.bounce-in-down {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes bounceOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes bounceOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
.bounce-out-up {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
.fade-out-up {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
.menu-backdrop-hidden {
	display: none;
	opacity: 0;
}
.menu-backdrop-show {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	display: block;
	z-index: 95;
	opacity: .5;
	background-color: #000;
}
.menu-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #595959;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	min-height: 6rem;
	background-color: #fff;
	border-top: 1px solid #f3f4ca;
	border-bottom: 1px solid #f3f4ca;
}
.menu-wrapper.hidden {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.menu {
	padding: .666rem .888rem;
}
.menu-wrapper.menu-active, .menu-wrapper.menu-active .menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.sort-wrapper-hidden {
	position: fixed;
	top: 5.638rem;
	left: 0;
	right: 0;
	max-width: 750px;
	min-width: 320px;
	min-height: 6.111rem;
	margin: 0 auto;
	overflow: hidden;
	display: none;
	z-index: -1;
}
.sort-wrapper-show {
	display: block;
	z-index: 97;
}
.bl-sort {
	position: relative;
	padding: 1rem 0 1rem .888rem;
	z-index: 96;
}
.bl-sort > div{
	display: table;
	width: 100%;
}
.bl-sort-left, .bl-sort-right{
	display: table-cell;
	vertical-align: top;
}
.bl-sort-left{
	width: 4.444rem;
	padding-top: .355rem;
}
.bl-sort-left > div{
	width: 4.444rem;
	color: #95ae62;
	border-right: 1px solid #f3f4ca;
}
.menu ul, .bl-sort ul, .bl-booklist ul {
	width: 100%;
}
.bl-sort ul li, .bl-booklist ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}
.menu ul li {
	position: relative;
	height: 2rem;
	line-height: 2rem;
}
.bl-sort-menu-active {
	color: #95ae62;
}
.bl-sort ul li {
	padding: 0 .99rem;
}
.bl-sort, .bl-booklist {
	border-bottom: 1px solid #f3f4ca;
	background-color:#feffe5;
}
.bl-sort-button {
	height: 1.8rem;
	line-height:1.8rem;
	color:#595959;
}
#booklist_sort .bookslist-left img, #booklist_dets .bookslist-left img, .cur-li-s, .slider-list > div img {
	-moz-border-radius: .166rem;
	-webkit-border-radius: .166rem;
	-o-border-radius: .166rem;
	border-radius: .166rem;
}
.bl-sort-button-down {
	display: inline-block;
	margin-left: .3rem;
	margin-bottom: -.15rem;
	border-top-color: #95ae62;
}
.bl-booklist, .bl-booklist-button{
	color: #969696;
}
.bl-booklist{
	padding-bottom: .666rem;
}
.bl-booklist-button {
	padding: .666rem .888rem 0;
}
.bl-sort-active, .bl-booklist-active {
	color: #95ae62;
	font-weight: bold;
}
.bl-sort-intro {
	padding: 1.444rem .888rem .666rem;
	background-color: #fff;
	border-bottom: .444rem solid #fbfbf0;
}
.bl-sort-intro-text {
	color: #969696;
	overflow:hidden;
    word-break:break-word;
}
.bl-sort-intro-text-hide {
    text-overflow:ellipsis;
    display:-webkit-box;
    display:box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.bl-sort-intro-button{
	color: #95ae62;
	text-align: right;
}
.bl-sort-intro-button i{
	display: inline-block;
	border-color: #95ae62;
	width: .5rem;
	height: .5rem;
}
.bl-sort-intro-button .arrow-down{
	margin-bottom: .17rem;
}
.bl-sort-intro-button .arrow-up{
	margin-bottom: -.17rem;
}
.bl-book-count {
	color: #969696;
	margin-top: 1rem;
}
.bl-book-count span {
	color: #a6a6a6;
	margin-left: .861rem;
}
.bl-content-list {
	width: 100%;
	height: auto;
}
.bl-content-list ul {
	width:100%;
}
.bl-content-list ul li {
	width: 100%;
	border-bottom: 1px solid #f1f2de;
}
.bl-content-list ul li a {
	display: -webkit-box;
    display: box;
	padding: .888rem 0;
	width: 100%;
    height: 100%;
    font-size: 0;
}
.bookslist-left {
    width: 33.333%;
	text-align: center;
}
#booklist_list .bookslist-left {
    width: 30%;
}
.bookslist-left img {
	display: inline-block;
    width: auto;
    max-width: 100%;
    height: 6.444rem;
}
#booklist_list .bookslist-left img {
    height: 4.444rem;
}
.bookslist-right {
	width: 63.866%;
}
.cur-li-name, .cur-li-author, .cur-li-intro {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
.cur-li-name, .bl-name {
	color: #e67d4e;
	font-weight: bold;
}
#booklist_list .cur-li-name, .bl-name {
	color: #95ae62;
}
.cur-li-author {
	color: #969696;
	margin: .15rem 0 .5rem 0;
}
.cur-li-intro {
	line-height: 1rem;
	height: 2rem;
}
#booklist_list .cur-li-intro {
	margin: .1rem 0;
}
.cur-li-state {
	color: #c8cb7a;
    display: -webkit-box;
    display: box;
    overflow: hidden;
    -webkit-box-align: center;
    box-align: center;
    margin-top: .3rem;
}
#booklist_list .cur-li-state {
	color: #e67d4e;
    margin-top: 0;
}
.cur-li-state span {
	display: block
}
.cur-li-icon {
	display: block;
	width: 1.333rem;
	height: auto;
	margin-right: .666rem;
	vertical-align: middle;
	border: 0 none;
}
.cur-li-s {
	color: #fff;
    padding: 0 .305rem;
    margin-right: .666rem;
    position: relative;
	background-color: #95ae62;
}
.bl-name{
	margin-bottom: .5rem;
}
.menu .arrow-down{
    position: absolute;
    height: .5rem;
	right: 0;
    top: .5rem;
    border-color: #95ae62;
}

.listSlider{
	position: relative;
}
.slider-main{
	display:table;
}
.slider-list{
	display: table-cell;
	vertical-align: top;
	padding-left: .888rem;
	color: #7d7d7d;
}
.slider-list > div{
	width: 5.444rem;
	text-align: center;
}
.slider-list > div img{
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: 3.111rem;
	vertical-align: middle;
	border: 0 none;
}
.slider-list > div div{
	margin-top: .444rem;
}
#booklist_sort .bl-sort{
	border: 0 none;
	background-color: #fff;
}
#booklist_sort .bl-sort-intro{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.sort-ad{
	position: relative;
	width: 100%;
}
.sort-ad img{
	display: block;
	width: 100%;
	height: auto;
	vertical-align: top;
	border: 0 none;
}
.sort-ad > div{
	position: absolute;
	width: 2.443rem;
	height: 1.887rem;
	top: 0;
	right: 0;
}

.sort-table{
	display: table;
	width: 100%;
	height: 2.222rem;
	line-height: 2.222rem;
	table-layout: fixed;
	background-color: #fbfbe4;
}
.sort-table-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #969696;
}
.sort-table-cell span{
	display: inline-block;
	height: 100%;
}
.sort-table-active{
	color: #95ae62;
	font-weight: bold;
	border-bottom: 2px solid #95ae62;
}
